.picture-main {
  width: 40vw;
  height: 25vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic-animal {
  width: 40vw;
  height: 20vw;
}
@media (max-width: 1024px) {
  .picture-main h1 {
    font-size: 1.7vw;
  }
}
